.menu-fade-in {
    animation: menuFadeIn 150ms linear 1;
}

.item-fade-in {
    display: flex;
    animation: menuFadeIn 400ms linear 1;
}

@keyframes menuFadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}