:root {
    --light-grey: #F3F6F6;
    --dark-grey: #939393;
    --text-black: #272727;
    --bg-black: #0E0E0E;
    --dark-blue: #1A18F7;
}

@font-face {
    font-family: "Teko Regular";
    src: url("../fonts/teko/teko-regular.ttf");
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: "Teko Regular";
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.menu-overlay {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--bg-black);
    z-index: 2;
    overflow-y: scroll;
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 25px 25px 0px 25px;
}

.menu-item {
    display: none;
}

.menu-links > a {
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-family: "Teko Regular";
    font-size: 3rem;
    letter-spacing: 1px;
    text-decoration: none;
}

.menu-links > a > img {
    display: none;
    top: -5px;
    position: relative;
    margin-right: 10px;
    height: 25%;
}

.menu-links > a:active {
    color: var(--dark-blue);
}

.menu-links > a:hover > img {
    display: block;
}

.menu-divider {
    display: none;
    height: 1px;
    width: 100%;
    background-color: var(--dark-grey);
}

.close-menu-button {
    margin-bottom: 50px;
    border: none;
    background: none;
    font-size: 2rem;
    color: white;
    transform: scaleY(0.8);
}

.close-menu-button:hover {
    cursor: pointer;
    color: var(--dark-blue);
}

.top-nav-wrapper {
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 20px 0px 20px;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 25px 20px 0px 20px;
    margin-bottom: 80px;
    height: 350px;
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.dept-logo {
    height: 20px;
}

.hamburger > span {
    display: block;
    height: 5px;
    width: 25px;
    margin-bottom: 5px;
    background-color: black;
}

.hamburger:hover > span, .hamburger:active > span {
    cursor: pointer;
    background-color: var(--dark-blue);
}

.header > h1 {
    margin: 100px 0px 40px 0px;
    font-size: 10rem;
    font-weight: normal;
    color: var(--bg-black);
    transform: scaleY(1.1);
}

.case-button {
    align-self: center;
    height: 50px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: var(--bg-black);
    border: none;
}

.case-button:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
}

.case-button:active {
    background-color: var(--bg-black);
}

.page-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.page-content {
    width: 100%;
}

.article-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0px 30px 0px;
    height: 50px;
}

.article-filter > p {
    color: var(--dark-grey);
}

.article-filter > p, .article-filter > select {
    font-family: "Teko Regular";
    font-weight: normal;
    font-size: 1.7em;
}

.article-filter > select {
    margin-top: 2px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--bg-black);
    letter-spacing: 1px;
    font-weight: bold;
}

.article-filter > select:hover {
    cursor: pointer;
}

.article-wrapper > article > a {
    text-decoration: none;
}

article {
    margin-bottom: 70px;
}

article, article > a > img {
    height: auto;
    width: 100%;
}

article > a > h2 {
    font-size: 1.8rem;
    word-break: keep-all;
    font-weight: normal;
    color: var(--text-black);
    transform: scaleY(1.1);
}

article > a > h3 {
    margin: 20px 0px 15px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--dark-grey);
}

article > a > button {
    border: none;
    background: none;
    display: none;
    margin-top: 15px;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--dark-blue);
}

article > a > button > img {
    position: relative;
    top: -1px;
    height: 0.5rem;
    padding: 0px 10px 0px 0px;
}

article > a > button:hover, article > a > button > img:hover {
    cursor: pointer;
    color: var(--bg-black);
}

.client-content-wrapper {
    background-color: var(--light-grey);
}

.client-content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    padding: 30px 0px 40px 0px;
}

.client-content > h2 {
    font-size: 1.8rem;
    font-weight: normal;
}

.client-content > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    text-align: center;
}

.logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.logo-wrapper > img {
    width: 50%;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
}

.arrow-wrapper {
    display: none;
    align-items: center;
}

.arrow-wrapper > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    background-color: white;
    font-family: "Teko Regular";
    font-weight: normal;
    font-size: 1.7em;
    color: var(--dark-blue);
    text-decoration: none;
}

.arrow-wrapper > a > img {
    height: 30px;
}

.footer-content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-black);
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 20px 0px 20px;
    padding-bottom: 30px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #3E3E3E;
}

.footer-links, .social-links {
    display: flex;
    flex-direction: column;
}

.footer-links > img {
    display: none;
    margin-right: 40px;   
}

.footer-links > a {
    font-family: "Teko Regular";
    font-size: 2rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
}

.footer-links > a:hover {
    color: var(--dark-blue);
}

.footer-links > a:active {
    color: var(--dark-blue);
}

.social-links {
    margin-top: 10px;
    align-items: center;
}

.social-links > a > img {
    height: 1.35rem;
    margin: 0px 0px 30px 0px;
}

.footer-info {
    margin: 50px 20px 40px 20px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: var(--dark-grey);
}

.info-wrapper {
    display: flex;
    flex-direction: column;
}

.info-wrapper > p {
    margin-top: 0px;
}

.footer-info > p {
    margin-top: 40px;
}